body {
    margin: 0;
    background-color: #ecb1c6;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
}

.homeDiv {
    display: flex;
    flex-direction: column;
}

.guestDiv {
    display: flex;
    flex-direction: column;
}

button, input[type="button"] {
    border: none;
    margin: 5px;
    font-size: 15px;
    padding: 5px;
    color: white;
}

#button1 {
    background-color: #ccccff;
}
#button2 {
    background-color: #9999ff;
}
#button3 {
    background-color: #6666ff;
}

.resetDiv {
    display: flex;
    justify-content: center;
}

#resetButton {
    background-color: #e882a4;
    font-size: 20px;
}

#homeScore {
    font-size: 50px;
    display: flex;
    justify-content: space-around;
}

#guestScore {
    font-size: 50px;
    display: flex;
    justify-content: space-around;
}